<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <i class="bi bi-currency-exchange"></i>BudgetMe
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              <i class="fas fa-user"></i>Dashboard
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/budgets">
                <i class="fas fa-file-invoice-dollar"></i>Budgets
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user"></i>Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Transaction
          </button>
    

          
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-7 centeralign">
            <app-breakdowngraph></app-breakdowngraph>
          </div>
          <div class="col-lg-56">
            <div class="pt-2 pb-2 mb-3 border-bottom">
              <h1 class="h2">Upcoming Bills</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Paid</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
            
          </div>
        </div>
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-6">
            <div class="pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Recent Transactions</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Goals</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Saved</th>
                  <th scope="col">Goal</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>

      </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form #transform="ngForm">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text">Date</span>
                          <input [(ngModel)]="transDate" id="transDate" name="date" class="form-control" type="date"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                          <input [(ngModel)]="transName" type="any" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text">$</span>
                          <input [(ngModel)]="transCost" name="cost" type="any" class="form-control" id="transCost" aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">.00</span>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                          <select type="any" [(ngModel)]="transCatagory" name="cata" class="form-select" aria-label="Default select example">
                            <option selected>Choose Catagory</option>
                            <option value="1">Entertainment</option>
                            <option value="2">Food</option>
                            <option value="3">Fuel</option>
                            <option value="4">Housing</option>
                            <option value="5">Bills</option>
                          </select>
                        </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" (click)="addTransaction()" class="btn btn-primary">Add Transaction</button>
                      </div>
                    </div>
                  </div>
                </div>
    </main>

  </div>
</div>